.content_detail_title{
    line-height: 40px;
    font-size:22px;
    text-align: left;
    display: block;
}
.content_detail_reason{
    line-height: 40px;
    font-size:22px;
}
.content_detail{
    font-size: 22px;
    display: flex;
    justify-content: left;
}
.title{
    display: flex;
    justify-content: right;
}
.title_require_time{
    padding-left: 5px;
}
.button_Upload{
    font-size: 20px;  
    margin-left:450px ;
    padding-right: 5px;
    padding-left: 5px;
}

#info_Upload{
    font-size: 20px;
    padding: 10px;
}
