body{
    font-family: arial;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.header-admin{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.7s ease-in forwards;
}
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.container-admin{
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: fadeIn 0.7s ease-in forwards;
    margin-top: 90px;
    min-height: 70vh;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h1{
    text-align: center;
}
.product-items .admin-items{
    padding: 10px;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
}

.product-items ul{
    padding: 0;
    margin: 0;
}
.product-prop-header{
    float: left;
    border: 1px solid black;
    height: 50px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.product-button-title{
    width: 214px;
    float: left;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.product-prop{
    float: left;
    border: 1px solid black;
    height: 120px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-id{
    width: 50px;
}
.product-img img{
    height: 100px;
    width: 100px;
    padding: 5px;
}
.product-button{
    float: left;
    border: 1px solid black;
    padding: 0 10px;
    width: 50px;
    text-align: center;
}
.product-button a{
    cursor: pointer;
    transition: 0.4s;
    color: green;
    font-weight: bold;
}
.product-button a:hover{
    text-decoration: none;
    transform: scale(1.1);
}
.clear-both{
    clear: both;
}
.product-items ul li{
    list-style: none;
    /* border: 1px solid #ccc; */
    border-top: 0;
    border-left: 0;
}
.product-name{
    text-align: center;
}
.product-img{
    text-align: center;
}
.product-time {
    width: 150px;
    text-align: center;
}
.product-item-heading .admin-item-heading{
    text-align: center;
    font-weight: bold;
}
.product-item-heading .product-prop .admin-item-heading{
    height: 40px;
    line-height: 40px;
    background: #717171;
    color: #FFF;
}
.buttons{
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.buttons a{
    color: #FFF;
}
.buttons button{
    background-color: black;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: 0.6s;
}
.buttons button:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#admin-heading-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #525151;
    height: 70px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
#admin-heading-panel a{
    color: #fff;
}
.left-panel{
    float: left;
    color: white;
}
.left-panel span{
    color: #eeff09;
    font-weight: bold;
}
.right-panel{
    float: right;
}
.right-panel img{
    vertical-align: middle;
}
.right-panel a{
    margin-right: 10px;
}
.left-menu{
    float: left;
    width: 280px;
}
.main-content{
    float: left;
    width: 1000px;
    margin-left: 20px;
}

.main-content h1{
    margin: 0;
    text-align: left;
    background: #525151;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}
#admin-footer{
    background: #717171;
    padding: 5px 0;
    line-height: 60px;
    color: #FFF;
    bottom: 0;
}
#content-wrapper .container{
    padding: 15px 0;
}
.menu-heading{
    background: #525151;
    line-height: 20px;
    padding: 10px;
    color: #FFF;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}
.menu-items ul{
    margin: 0;
    padding: 0;
}
.menu-items ul li{
    list-style: none;
    line-height: 30px;
    border-bottom: 1px dashed #ccc;
    padding-left: 15px;
}
.menu-items ul li a{
    color: #000;
}
.menu-items ul li:first-child{
    border-top: 0;
}
.menu-items{
    padding: 0 0px 15px 0px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
}
.current-page{
    background: #000;
    color: #FFF;
}
#product-editing{
    border: 1px solid #ccc;
    padding: 20px;
}

#content-box{
    border: 1px solid #ccc;
    padding: 20px;
}

#product-form label {
    width: 150px;
    display: inline-block;
    float: left;
}
#product-form input {
    margin-bottom: 10px;
    line-height: 32px;
    float: left;
}
#product-form textarea {
    width: 500px;
    height: 200px;
}
#product-form input[type=submit] {
    float: right;
    background: url('/icon/save.png') center center no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
}
#cke_product-content{
    float: left;
    width: 700px;
}
.right-wrap-field{
    float: left;
    width: 75%
}
.right-wrap-field img{
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 150px;
}
.right-wrap-field input{
    float: none;
}
.right-wrap-field ul{
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li{
    list-style: none;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li a{
    position: absolute;
    background: rgba(0,0,0,0.1);
    color: #000;
    padding: 5px;
    bottom: 3px;
    right: 0;
}
.container-login-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dcecf2;
}
.box-content{
    margin: 0 auto;
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
    background-color: #f4f8f8;
}
.logo-login-admin{
    height: 100px;
    width: 180px;
    margin-bottom: -35px;
}
.title-login{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}
.search-input-login-admin{
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    outline: none;
    font-weight: bold;
    padding-left: 10px;
}
.login-button-admin{
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
    transition: 0.4s;
}
.login-button-admin:hover{
    transform: scale(1.05);
}
.login-button-admin:active{
    transform: scale(0.95); /* Làm nút nhỏ lại khi nhấn */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Giảm bóng khi nhấn */
}
.container-home-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dcecf2;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  /* Phần thanh kéo */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  
  /* Phần đường ray */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Phần thanh cuộn khi hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .wrap-field-button{
    text-align: right;
  }
  .save_button_admin{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #000;
    font-weight: bold;
    transition: 0.6s;
    color: white;
  }
  .save_button_admin:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
  }